  <footer id="footer" class="footer">
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © Distributed by <a href="http://www.adriannadeau.com" target="_blank">Adrian Nadeau</a></p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/custom.js"></script>